<!-- navbar -->
<nav class="navbar navbar-expand-sm navbar-light pt-2 pb-2" style="background-color: lightgrey;">
   <div class="container-fluid">

      <!-- toggle button for mobile nav -->
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <!-- navbar links -->
      <div class="collapse navbar-collapse justify-content-start" id="main-nav">
         <ul class="navbar-nav nav nav-pills">
         <li class="nav-item">
            <a routerLink="/elements" routerLinkActive="active" class="nav-link fw-bold">Elements</a>
         </li>
         <li class="nav-item">
            <a routerLink="/collections" routerLinkActive="active" class="nav-link fw-bold">Collections</a>
         </li>
         </ul>
      </div>  
   </div>
</nav>

<div class="d-block m-3 p-2 border border-dark" style="width: fit-content;">
   <router-outlet></router-outlet>
</div>



